<div class="container"><!-- Begin Publications container -->
<h2 class="title is-2 has-text-centered">Publications</h2>
            <div class="column markdown">
                {{ range .Data.Pages }}
                    {{if eq .Title "publications" }} 
                            {{.Content}}
                        {{end}}
                    {{ end }}
            </div>
</div><!-- End Publications container -->

<div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
